<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shore.mapper.TestMapper">
    <select id="getById" resultType="com.shore.model.CityDO">
        SELECT * FROM city where ID = #{id};
    </select>
</mapper>